/*
    font-family: 'Work Sans';
    font-family: 'Anton';
*/
body{
	margin: 0 auto;
	font-family: 'Work Sans';
	font-size: 18px;
}
h1{
	margin-top: 0;
	font-size: 32px;
	font-weight: bold;
}
.logo{
	display: flex;
	justify-content: center;

}

.logo a{
	font-size: 24px;
	margin: 25px auto 25px;
	color: black;
	text-decoration: none;
	font-weight: 800;
}
@media (max-width: 320px) {
	.logo a{
		margin: 20px auto 20px;
	}
	
}
.container{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	width: 1170px;
}
@media (max-width: 768px) {
	.container{
		width: 768px;
	}
	}
@media (max-width: 320px) {
	.container{
		width: 320px;
	}
	}
header{
	background-color: #F1F2F4;
	width: 100%;
	height: 617px;
}
@media (max-width: 768px) {
	header{
	width: 100%;
	height: 527px;
}
}
@media (max-width: 320px) {
	header{
	width: 100%;
	height: 656px;
}
}

.menu{
	margin-top: 50px;
	display: flex;

}
.menu ul{
	margin-top: 0;
	padding-left: 0;
}
.menu ul li a{
	font-size: 16px;
	color: black;
	text-decoration: none;
	font-weight: 500;
}
.menu ul li {
	padding-right: 35px;
	padding-bottom: 35px;
}

@media (max-width: 768px) {
	.menu{
		margin-top: 45px;
	}
	.menu ul li {
		display: inline-flex;
	}
	.menu ul{
		margin-right: -250px;
		margin-left: 45px;
		padding-left: 0;
	}

}
@media (max-width: 320px) {
	.menu{
		margin-top: 30px;
	}
	.menu ul li {
	padding-right: 25px;}
	.menu ul{
		padding-left: 15px;
	}
	.menu ul{
		margin-left: 0px;
	}

}


.mainframe{
	display: flex;
	flex-direction: row;
}



.row{
	margin-top: 300px;
	
	display: flex;
	flex-direction: column;

}
.row a img{
	width: 10px;
	height: 27px;
}

@media (max-width: 768px) {
	.mainframe{
		margin-right: -60px;
		margin-left: 290px;
	}
	.leftframe{
		margin-right: -75px;
	}
	.row{
		margin-top: 350px;
		margin-left: 45px;
	}
}
@media (max-width: 320px) {
.row{
	display: none;
}
}

.denim{
	margin-left: 111px;
	margin-top: 185px;
}
.denim p{
	margin: 0;
}
#quality{
	font-size: 18px;
	color: #727A82;
}
#denim{
	text-transform: uppercase;
	font-family: 'Anton';
	font-size: 98px;
}
#btn{
	font-size: 16px;
	padding: 0;
	width: 219px;
	height: 64px;
	background-color: black;
	color: white;
	border: none;
	font-weight: bold;
	margin-bottom: 169px;
}

@media (max-width: 768px) {
	.denim{
		margin-top: 0;
	padding-top: 160px;
	margin-left: -160px;
}
}
@media (max-width: 320px) {
.row{
	display: none;
}
}
.photos{
	
	width: 526px;
	height: 625px;
}

#diag{
	z-index: 0;
	height: 176px;
	width: 232px;
}
#girl{
	position: relative;
	z-index: 1;
	margin-top: -140px;
	margin-left: 45px;
	width: 430px;
	height: 517px;
}
#diag1{
	z-index: 0;
	height: 176px;
	width: 232px;
	margin-top: -124px;
	margin-left: 300px;
}

@media (max-width: 768px) {
	.photos{
		padding-top: 53px;
	width: 374px;
	height: 324px;
}
	#diag{
	z-index: 0;
	height: 104px;
	width: 141px;
}
#girl{
	position: relative;
	z-index: 1;
	margin-top: -75px;
	margin-left: 45px;
	width: 264px;
	height:319px;
}
#diag1{
	z-index: 0;
	height: 104px;
	width: 141px;
	margin-top: -75px;
	margin-left: 200px;
}
}
@media (max-width: 320px) {
.row{
	display: none;
}
#diag{
	margin-left: 19px;
	height: 80px;
	width: 109px;
}
#diag1{
	margin-left: 160px;
	height: 80px;
	width: 109px;
}
#girl{
	margin-top: -64px;
	width: 202px;
	height:249px;
}
.photos{
	margin-top: 40px;
	margin-left: -276px;
	width: 243px;
	height: 286px;
}
}

.rightframe{
	display: flex;
	flex-direction: column;

}
.cart{
	padding-top: 54px;
	padding-left: 102px;
	display: flex;
	flex-direction: column;
}
.cart a{
	padding-bottom: 35px;
}
.social{
	margin-top: 300px;
	margin-left: 54px;
	display: flex;
	flex-direction: column;
	
}
.social a{
	color: black;

	font-weight: 500;
	text-decoration: none;
	font-size: 14px;
	margin-top: 35px;
}
.rightframe a img{
	width: 18px;
	height: 18px;
}

@media (max-width: 768px) {
.rightframe{
	margin-left: -150px;
}
.cart {
	padding-top: 50px;
	flex-direction: row-reverse;
}
.cart a:first-child{
	padding-left: 35px;
}
.social{
	margin-right: -33px;
	margin-left: 0;
	margin-top: 325px;
	}
.social a{
	padding-right: 35px;
}
.social a:last-child{
	margin-left: -25px;
}

.social  {
	flex-direction: row-reverse;
}
.denim{
	margin-top: 160px;
	padding: 0;
}
}

@media (max-width: 320px){
	.rightframe{

		height: 655px;
		width: 3px;margin-left: -63px;
	}
	.social{
		display: none;
	}
	.denim{
		padding-top: 0;
		margin-top: 400px;
	}
	.cart{
		padding-left: 0;
		margin-top: -20px;
		margin-left: 172px;

	}
	.cart a:first-child{
		padding-left: 25px;
	}
	#denim{

		margin-top: -10px;
		font-size: 86px;
	}
	#btn{
		cursor:pointer;
		width: 204px;
		height: 64px;
	}
	.photos{
	padding-top: 0;
	margin-top: 95px;
		margin-left: -250px;
	}
}
.best{
	margin: 130px auto 67px;
	width: 1170px;
	
}


.view{
	grid-column: 7;
	margin-left: 180px;
	font-size: 18px;
	font-weight: 500;
	color: black;
}

.cataloghead{
	
	margin: 130px auto 70px;
	width: 1170px;
	display: flex;
	justify-content: space-between;
}
.view{
	font-size: 18px;
	margin-right: 50px;
}
.bold{
	font-size: 32px;	
}

@media (max-width: 768px) {
	.cataloghead{
		width: 768px;
		margin: 100px auto 60px;
	}
	.bold{
		margin-left: 45px;
	}
}
@media (max-width: 320px) {
	.cataloghead{
		width: 320px;
		margin: 60px auto 40px;
	}
	.bold{
		font-size: 26px;
		margin-left: 15px;
	}
	.view{
		margin-right: 30px;
		display: none;
	}
}


footer{
	margin-top: 130px;
	background-color: black;
}
footer br{
	display: none;
}
.footerlogo{
	padding-top: 50px;
	text-align: center;
	width: 100%;
	
}
.footerlogo a{
	margin-top: 50px;
	color: white;
	font-size: 24px;
	font-weight: 800;
	text-decoration: none;

}
.footernav{
	text-align: center;
	width: 100%;
	margin-top: 35px;
	padding-bottom: 25px;

}
.footernav a{
	color: white;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	padding-left: 35px;
}
.fsocial{
	text-align: center;
	width: 100%;
	margin-top: 35px;
	padding-bottom: 25px;

}
.fsocial a{
	padding-left: 30px;
}



@media (max-width: 320px){
	.footerlogo{
		text-align: left;
		margin-left: 15px;

	}
	.footernav{
		margin-top: 0;
		display: flex;
		flex-direction: column;
		text-align: left;
		margin-left: 15px;
	}
	.footernav a{
		padding-top: 30px;
		padding-left: 0;
	}
	.right{
		margin-left: 185px;
		margin-top: -100px;
		
	}
	.right a{
		padding-bottom: 40px;
	}
	.one{
		padding-top: 0;
		margin-top: -50px;

	}
	.right:nth-child(2n){
		padding-top: 35px;
	}
.right:last-child{
	padding-top: 27px;
}
	.fsocial{
		margin-left: -55px;margin-top: 50px;
	
	}
	.fsocial a{
		padding-left: 
	}
	.fsocial a img{
	padding-left: 0;
	margin-top: 50px;
}
	

}
.catalog{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	width: 1170px;
	flex-wrap: wrap;
}

.card{
	height: 416px;
	width: 270px;
	flex-direction: column;
	margin-right: 20px;
	

}

.card img:hover{
	border: 1px solid black;
}
.card ul li a{
	font-size: 18px;
	text-decoration: none;
	color: black;
}
.card ul li a .bold{

	font-size: 16px;
}

.card ul{
	margin-top: 25px;
	padding-left: 0;
}
.card ul li{
	margin-top: 15px;
}

.break {
	flex-basis: 0%;
  width: 0;
 }
 .v{
	visibility: hidden;
	margin-top: 150px;
	margin-left: 120px;
	font-size: 18px;
	font-weight: 500;
	color: black;
	margin-right: 80px;

}

@media (max-width: 768px){
	.break {
  flex-basis: 100%;
  width: 0;
}
	.catalog{
		
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	width: 768px;
	flex-wrap: wrap;
}
	.card img{
		height: 349px;
		width: 324px;
	}
	.card{
		
		margin-right: 30px;
		margin-top: 100px;
		margin-right: 50px;
		margin-left: 50px;
		
	}
	.catalog{
		margin-top: -130px;
	}

	
}
@media (max-width: 320px){
	.catalog{
		margin-top: -130px;
	}
	.card img{
		height: 160px;
		width: 130px;
		margin-top: 0px;
		margin-left: 0px;
}
.card{
		height: 100px;
		width: 100px;
		margin-left: 15px;
		margin-right: 30px;
		margin-bottom: 72px;

}
.v{
	position: relative;
	top: 100px;
	visibility: visible;
}

.shopby{
margin-top:0px;
}
}

.name{
	font-weight: 500;
}

.midbanner{
	display: flex;
	margin-top:130px;
}
.boxontop{
	
	margin-left: -470px;
	margin-top: 30px;
	width: 400px;
	height: 308px;
	background-color: #F1F2F4;

}
.banimg{
	width: 700px;
	height: 370px;
}
.sfc{
	margin: 70px 70px 0 70px;
	font-size: 18px;
}
.fall{
	margin-top: 20px;
	margin-left: 70px;
	font-size: 32px;
	font-weight: 800;
}
.fallbtn{
	width: 200px;
	height: 64px;
	background-color: black;
	margin-left: 70px;
	color: white;
	font-size: 16px;
	font-weight: bold;

}


@media (max-width: 768px){
	.break {
  flex-basis: 100%;
  width: 0;
}
	.banimg{
		width: 354px;
		height: 287px;
	}
	.boxontop{
		flex-shrink: 0;
		width: 304px;
	height: 247px;
	margin-top: 20px;
		margin-right: 298px;
		margin-left: -365px;
	}
	.midbanner{
		margin-left: 15px;
	}
	.sfc{
	margin:50px 50px 0 50px;
	font-size: 16px;
}
.fall{
	margin-top: 15px;
	margin-left: 50px;
	font-size: 32px;
	font-weight: 800;
}
.fallbtn{

	width: 148px;
	height: 58px;
	background-color: black;
	margin-left: 50px;
	color: white;
	font-size: 16px;
	font-weight: bold;

}

}
.cartimg{
margin-right:47px;
height:18px;
 width: 18px; 
}
.searchimg{
	height:18px;
	 width: 18px; 
}

@media (max-width: 320px){
	.banimg{
	width:320px;
	height:226px;
}
	.boxontop{
		margin-left: -300px;
		width: 320px;
		height: 225px;
	}
	.midbanner{
		margin-left: 0;
		margin-top: 450px;
	}
	.diagmid{
		margin-left: -320px;
		margin-bottom: 287px;
	margin-top: -247px;
	width: 317px;
	height: 245px;}
	.boxontop{
		width: 290px;
		height: 211px;
		margin-top: -211px;
		margin-left: -300px;
	}
		.sfc{
	margin:38px 38px 0 50px;
	font-size: 16px;
}
.fall{
	margin-top: 15px;
	margin-left: 88px;
	font-size: 26px;
	font-weight: 800;
}
.fallbtn{

	width: 148px;
	height: 58px;
	background-color: black;
	margin-left: 71px;
	color: white;
	font-size: 16px;
	font-weight: bold;

}


}
.catalogmenu{
	text-align: center;
}

.catlogo{
	font-size: 24px;
	color: black;
	font-weight: 800;
	text-decoration: none;

}
.toplogo{
}

.catmenu{
	top: 32px;
 position: relative;
}
.catmenu ul li{
	display: inline-block;
	margin: 0;
}
.catmenu ul{
	margin: 0;
}
.catmenu ul li a{
	padding-right: 35px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: 500;
}
.cataloglogo{
	display: flex;
	justify-content: center;

}

.cataloglogo a{
	font-size: 24px;
	margin: 0px auto 22px;
	color: black;
	text-decoration: none;
	font-weight: 800;
}

.burger{
	visibility: collapse;
}
.scart{
	margin: -55px;
	float: right;
}
.scart li{
	padding-right: 35px;
	display: inline-block;

}
.scart ul{
	margin: 0;
}
@media (max-width: 320px){
	.burger{
		position: relative;
		top: 32px;
		left: 15px;
		visibility: visible;
	}
	.catmenu{
		display: none;
	}
	.scart ul li a img{
		margin-top: 10px;
		height: 16px;
		width: 16px;

	}
	.cartimg{
margin-right:30px;
margin-left: -20px;
height:18px;
 width: 16px; 
}
.searchimg{
	height:16px;
	 width: 16px; 

}
}

.catbanner{
	background-color: #F1F2F4;
	height: 260px;
	width: 100%;

}
.bantext{
	width: 357px;
	margin-top: 73px;
	margin-left: 141px;
}
.bantext ul li{
	display: inline;
	color: #727A82;
	font-size: 18px;


}
.bantext ul{
	margin-top: 0;
}

.bantext a{

	color: #727A82;
	text-decoration: none;
}

.bantext .selected{
	color: black;
}
.bantext p{
	padding-left: 40px;
	font-weight: bold;
	font-size: 32px;


}
.banphoto{
	margin-left: -30px;
}
.catdiag{
	position: relative;
	z-index: 0;
}

.wsw{
	position: relative;
	z-index: 1;
	left: -49px;
	top: -0px;
}
.catdiag:first-child{
top: 0;
left: 100px;
}
.catdiag:last-child{
	top: -263px;
	left: 240px;
}

@media (max-width: 768px){
 .bantext{
 	margin-left: 0;
 }
}