/*
    font-family: 'Work Sans';
    font-family: 'Anton';
*/

body{
	margin: 0 auto;
	font-family: 'Work Sans';
	font-size: 18px;
}
.logo{
	
	display: flex;
	justify-content: center;

}
.logo a{
	margin: 25px auto 25px;
	font-size: 24px;
	text-decoration: none;
	color: black;
	font-weight: 800;
}

@media (max-width: 320px){
	.logo a{
		margin: 20px auto 20px;
	}
}

.container{
	margin: 0 auto;
	width: 1170px;
	display: flex;
}
}
@media (max-width: 1170px){
	.container{
	
	width: 1170px;
	
}
}

@media (max-width: 768px){
	.container{
	
	width: 768px;
	
}
}
@media (max-width: 320px){
	.container{
	
	width: 320px;
	
}
}


.mainframe{
	width: 100%;
	height: 617px;
	background-color: cyan;
}
@media (max-width: 768px){
	.mainframe{
	
	height:527px;
	
}
}
@media (max-width: 320px){
	.mainframe{
	display: inline-block;
	height:656px;
	
}
}
.menu{
	padding-top: 50px;
	display: flex;
	flex-direction: column;

}
.menu ul{
	margin: 0;

}

.menu li{
	margin-top: 35px;

}
@media (max-width: 768px){
	.menu li{
	margin-top: 45px;
	margin-right: 35px;
	display: inline-flex;
	
	}
}
@media (max-width: 320px){
	.menu li{
	margin-top: 45px;
	margin-right: 35px;
	display: inline-flex;
	
	}
}

.denim{

}