/*
    font-family: 'Work Sans';
    font-family: 'Anton';
*/

body{
	margin: 0 auto;
	font-family: 'Work Sans';
	font-size: 16px;
}
.container{
	display: grid;
	grid-template-columns: 60px 511px auto 117px;
	margin: 0 auto;
	width: 1170px;
}
.logo{
	text-align: center;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
}
.toplogo{

	font-size: 24px;
	text-decoration: none;
	color: black;
	font-weight: 800;
}
.headmain{
	background-color: #F1F2F4;
	height: 617px;
	width: 100%;
}
.leftmenu ul li:first-child{
	padding-top: 50px;
	

}
.leftmenu ul{
	padding-left: 0;
}
.leftmenu ul li{

	padding-top: 35px;
}
.leftmenu ul li a{
	text-decoration: none;
	color: black;
}
.leftmenu ul li a img{
	margin-top: 313px;
	height: 27px;
	width: 10px;

}

.midmenu{
	padding-left: 105px;
	grid-column-start: 2;
}
.fp{
	font-size: 18px;
	color: #727A82;
	margin-top: 192px;
}
.denim{
	font-family: 'Anton';
	font-size: 128px;
	text-transform: uppercase;
	margin-top: -30px;
	margin-bottom: 50px;

}
.btn{
	font-size: 16px;
	padding: 0;
	width: 219px;
	height: 64px;
	background-color: black;
	color: white;
	border: none;
	font-weight: bold;
	margin-bottom: 169px;
}
.photos{
	margin-left: -50px;

}

.diag{
	position: relative;
	z-index: 0;
	width: 232px;
	height: 176px;
}
.girl{
	max-width: 100%;
	position: relative;
	z-index: 1;
	height: 517px;
	width:430px;
	margin-top: -131px;
	margin-left: 50px;
}
.diag:last-child{
	margin-left: 300px;
	margin-top: -129px;

}
.rightmenu a{
	text-decoration: none;
	color: black;
	font-weight: 500;
}
.rightmenu{
	
	display: flex;
	flex-direction: column;
	align-items: flex-end
}
.rightmenu a:first-child{
	width: 20px;
	height: 18px;
	margin-top: 50px;	
}
.rightmenu a:nth-child(2){
	width: 18px;
	height: 18px;
	margin-top: 35px;	

}
.rightmenu a:nth-child(3){

	margin-top:391px;
	font-size: 14px;
}

.rightmenu a:nth-child(4){
	margin-top: 35px;	
	font-size: 14px;
	margin-bottom: 50
}
.rightmenu a img{
margin-left: -12px;

}
.bold{
	font-weight: bold;
}
main{
	margin-top: 130px;
}

.container2{
	display: grid;
	grid-template-columns: 270px 30px 270px 30px 270px 30px 270px;
	margin: 0 auto;
	width: 1170px;
}
.container3{
	margin: 0 auto;
	width: 1170px;
}

main p{
	margin: 0;
	font-size: 32px;
	
}
.view{
	text-decoration: none;
	margin-top: -35px;
	float: right;
	color: black;
	font-size: 18px
	font-weight: 500;
	border-bottom: 3px solid black;
}
.top{
	margin-bottom: 70px;
}
.top a{
	text-decoration: none;
	color: black;
	

}
.card{
	height: 413px;
}

.card .cimg{

	width: 270px;
	height: 349px;
}
.card img:hover{
	border: 2px solid black;
}
.card ul{
	color: black;
	text-decoration: none;
	margin-top: 15px;
	padding: 0;
	font-weight: 500;
	font-size: 18px;

}

.card ul a{
	color: black;
	text-decoration: none;
}
.card ul li:last-child{
	margin-top: 15px;


}
.name{
	font-size: 18px;
	margin-top: 25px;
}
.price{
	font-weight: bold;
	font-size: 16px;
}

.midbanner{
	height: 370px;
	margin-top: 135px;

	
}
.diagmid{
	transform: scaleX(-1);
	float: right;
	width: 470px;
	height: 370px;

}
.boxontop{
	position: relative;
	top: -345px;
	left: 700px;
	height: 308px;
	width: 400px;
	background-color: #F1F2F4;
}

.sfc{
	font-size: 18px;
	color: #727A82;
	font-weight: 400px;
	padding: 70px 70px 20px;

}
.fall{
	
	margin-left: 70px;
}
.sec{
	margin-top: 50px;
	margin-left: 70px;
}
.last{
	margin-top: 130px;
}
.lastcat{
	margin-top: 70px;
}

footer{
	margin-top: 130px;
	background-color: black;
}
.footerlogo{
	padding-top: 50px;
	text-align: center;
	width: 100%;
	
}
.footerlogo a{
	margin-top: 50px;
	color: white;
	font-size: 24px;
	font-weight: 800;
	text-decoration: none;

}
.footernav{
	text-align: center;
	width: 100%;
	margin-top: 35px;
	padding-bottom: 25px;

}
.footernav a{
	color: white;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	padding-left: 35px;
}
.social{
	text-align: center;
	width: 100%;
	margin-top: 35px;
	padding-bottom: 25px;

}
.social a{
	padding-left: 30px;
}

.catmenu{
	top: 32px;
 position: relative;
}
.catmenu ul li{
	display: inline-block;
	margin: 0;
}
.catmenu ul{
	margin: 0;
}
.catmenu ul li a{
	padding-right: 35px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: 500;
}
.catalogtop{
	height: 67px;

}
.lcatalog{
	padding-top: 9px;
}
.scart{
	margin: -55px;
	float: right;
}
.scart li{
	padding-right: 35px;
	display: inline-block;

}
.scart ul{
	margin: 0;
}
.catbanner{
	background-color: #F1F2F4;
	height: 260px;
	width: 100%;

}
.bantext{
	margin-top: 73px;
	margin-left: 141px;
}
.bantext ul li{
	display: inline;
	color: #727A82;
	font-size: 18px;


}
.bantext ul{
	margin-top: 0;
}

.bantext a{

	color: #727A82;
	text-decoration: none;
}

.bantext .selected{
	color: black;
}
.bantext p{
	padding-left: 40px;
	font-weight: bold;
	font-size: 32px;


}
.catdiag{
	position: relative;
	z-index: 0;
}

.wsw{
	position: relative;
	z-index: 1;
	left: 30px;
	top: -139px;
}
.catdiag:first-child{
	top: 124px;
}
.catdiag:last-child{
	top: -402px;
	left: 130px;
}

.submenu{
	overflow: hidden;

}

.show{
	text-align: center;
	margin-top: 75px;
	font-size: 18px;
}

.load{
	font-weight: bold;
	padding: 0;
	margin: 40px auto 130px 485px;
	border: none;
	font-size: 16px;
	color: white;
	background-color: #151C22;
	width: 200px;
	height: 64px;
}
.progress{
	margin-top: 10px;
	margin-left: 485px;
	background-color: grey;
	height: 2px;
	width: 199px;
}
.innerpr{
	background-color: black;
	width: 20%;
	height: 100%;
}
/*.filter{
	margin-right: 26px;
	margin-top: 40px;
	width: 243px;
	height: 50px;
	border: 3px solid black;
	float: right;
	margin-bottom: 40px;
	overflow: hidden;
}*/

.filter{
	position: relative;
	margin-right: 26px;
	margin-top: 40px;
	width: 243px;
	height: 50px;
	border: 3px solid black;
	float: right;
	margin-bottom: 40px;
	overflow: hidden;
}

.container4{
	display: grid;

	margin: 0 auto;
	width: 1170px;

}
.topbar{

}
.overall{
	margin-top: -650px;
	float: right;
	width: 49%;
	height: 668px;
	background-color: #F1F2F4;
}
.top2{

	margin-bottom: 40px;
}
.left{
	margin-top: 30px;
}
.als{
	margin-top: 400px;
}
.arr{
	
	margin-bottom: 274px;
}
.bot{

	margin-top: 70px;
}
.big1{
	padding-left: 64px;
	padding-right: 64px;
}

@media (max-width : 768px) {
.headmain{
	height: 527px;
}

.container{
	display: grid;
	grid-template-columns: 45px 200px auto 45px;
	margin: 0 auto;
	width: 768px;
}
.girl{
	width: 264px;
	height: 319px;
margin-top: 150px;}
.diag{
	position: relative;
	width: 141px;
	height: 104px;
	top: -270px;
	left: 123px;
}
}